[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false

[includeIf "gitdir:~/Developer/"]
    path = ~/.gitconfig_per
[includeIf "gitdir:~/Developer/Cleverlance/"]
    path = ~/.gitconfig_clv

